* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {

    /* background-color: #212121; */
    background-color: #1F3037;
    color: #fff;

}

.container {
    width: 100%;
    height: 100vh;
    max-height: 450px;
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 3.5rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border: 3px solid darkgray;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    font-size: 4rem;
    font-weight: bolder;
    cursor: pointer;
    width: 125px;
    height: 125px;
}

.buttons {
    margin: 3rem;
}

button {
    cursor: pointer;
    background-color: #57cafc;
    padding: 10px;
    margin-inline: 30px;
    font-size: 2rem;
    border: none;
    border-radius: 13px;
}

#start-btn{
    background-color: greenyellow;
}
#reset-btn{
    background-color: orange;
}

.modal {
    height: 30%;
    position: fixed;
    top: 40%;
    display: none;
    align-content: center;
    justify-content: center;
    padding: 25px;
    border: 2px solid #fff;
    font-size: 5rem;
    font-weight: bolder;
    background-color: beige;
    border-radius: 13px;
    color: #212121;
}

.modal>.modal-content> p > span:hover {
    color: red;
    transform: rotateZ(45deg);
    cursor: pointer;
}